/* Universal Styles */

html {
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

img {
  width: 100%;
}

/* Bootstrap Overrides */

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}

.btn-primary {
  width: 11.4rem;
  padding: 1.3rem o;
  margin-top: 2.8rem;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  transition: box-shadow .5s;
  border: 0;
}

.btn-primary:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn-primary:active {
  box-shadow: 0 0 0 rgba (0, 0, 0, 0.5);
}

/* Jumbotoron */

.jumbotron {
  height: 44rem;
  padding-top: 10rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.jumbotron h1 {
  font-family: "Monoton", sans-serif;
  font-size: 7.1rem;
}

.jumbotron p {
  max-width: 51.3rem;
  margin: auto;
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
}



@media only screen and (max-width: 767px){
  .jumbotron h1 {
    font-size: 5.7rem;
  }
}

@media only screen and (max-width: 550px){
  .jumbotron h1 {
    font-size: 4rem;
  }
}

/* Featured project and projects */
.image-container img {
  opacity: 0.7;
  transition: transform .5s,
              opacity .5s;
  transition: transform .5s,
              opacity .5s;
}

.image-container img:hover {
  opacity: 1;
}
